*{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

:root{
    --primary-color: rgb(50, 39, 36);
    --secondary-color: rgb(202, 195, 180);
    --third-color: rgba(0,0,0,0.6);
}

html{
    scroll-behavior: smooth;
    background-color: var(--primary-color);
}

.hidden{
    opacity: 0;
}

.none{
    display: none !important;
}

input{
    outline: none;
}

p::selection, a::selection, h1::selection, h2::selection, input::selection, button::selection, b::selection, h3::selection{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/*Landing*/

#content{
    width: 100vw;
    height: 75vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h2{
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-right: 1.5rem;
}

.logo img{
    width: 2.5rem;
}

#content h1{
    font-size: 2.25rem;
    text-align: center;
    padding: 4rem 3rem;
    color: var(--primary-color);
    font-weight: 400;
    line-height: 150%;
}

#content a{
    padding: 1rem 2rem;
    border-radius: 5rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: .3s;
}

#qr{
    width: 100vw;
    padding-bottom: 10rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.qr-line{
    width: 3px;
    height: 25vh;
    background-color: var(--secondary-color);
}

.qr-code{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code img{
    width: 80%;
}

#qr h3{
    font-size: 1.6rem;
    color: var(--secondary-color);
    margin-top: 6rem;
}

#qr p{
    font-size: .9rem;
    color: var(--secondary-color);
    margin-top: 3rem;
    opacity: .5;
}

@media (min-width: 1000px){
    /*Landing*/

    #qr, #content{
        width: 50vw;
        height: 100vh;
        position: fixed;
    }

    #qr{
        right: 0;
    }
    #content{
        left: 0;
    }

    #content a:hover{
        padding: 1rem 3rem;
    }

    .qr-code:hover{
        cursor: pointer;
    }
}